<!--
Author: Bilal Qaiser
Date: 17 Feb 2018
Page Description: Dashboard page
-->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Professional Experience
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Experience</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <li class="time-label">
                    <span class="bg-red-gradient">
                        Nov 2017 to Jan 2018
                    </span>
                </li>
                <li>
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Full Time - Toronto, Canada</span>
                        <h3 class="timeline-header"><a href="" target="_blank">WordPress Developer Intern - Ontario College of Management and Technology</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Developing Web applications</li>      
                                <li>Executing and learning web developer activities such as design, coding, creating websites from scratch including other tasks as required. </li>
                                <li>Manage pages by Gravity Form, xThemeco/CornerStone, and custom HTML/CSS in WordPress.</li>
                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">WordPress</span>
                                <span class="label label-success">HTML/CSS</span>
                                <span class="label label-warning">Gravity Form</span>
                                <span class="label label-primary">xThemeco</span>
                                <span class="label label-danger">CornerStone</span>
                                <span class="label label-info">Elementor</span>
                                <span class="pull-right">
                                    <a class="btn btn-google btn-xs" ui-sref="app.websites">View Websites</a>
                                </span>
                            </p> 
                        </div>
                    </div>
                </li>
                <li class="time-label">
                    <span class="bg-green-gradient">
                        June 2012 - July 2012
                    </span>
                </li>
                <li>
                    <i class="fa fa-pencil-square-o bg-yellow-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Full Time - Doha, Qatar</span>
                        <h3 class="timeline-header"><a>Data Entry Intern - Abu Issa Holding</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Recorded and managed data of employees using database </li>
                                <li>Handled documentation of administration formalities including personnel management</li>
                                <li>Guidance employees related to visa issuance, medical check-ups and completion of documents </li>
                                <li>Worked as a liaison between the local visa immigration department and employees</li>
                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">Software</span>
                                <span class="label label-success">IT</span>
                                <span class="label label-info">Microsoft Office</span>
                                <span class="label label-warning">Data Entry</span>
                                <span class="label label-primary">Communication</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div><!-- /.col -->
    </div>
</section><!-- /.content -->